extends layout

block css_head
    link(rel='stylesheet', href='/css/videos.css')

block content
    #header.col-lg-12
        h1= title
    #videos.col-lg-12

    #footer.col-lg-12
        .col-lg-9
            ul
                li &copy; 2014 Marc M. |
                li: a(href='http://blog.marcmeszaros.ca') Blog

block js_body
    script(src='/js/videos.js')