.video {
    margin-bottom: 30px;
    padding: 10px;
    background: #fff;
    box-shadow: 8px 8px 5px #888;

    /* add border */
    border: 2px solid #eee;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.video .title {
    margin-top: 0;
}

.video .controls > * {
    margin: 2px;
}